/* sm-устройства */
@media (max-width: 575px) {
    .wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .mob-hide{
        display: none;
    }
    
    
    section.about::after, section.about::before{
        display: none;
    }
    .h-phone, .h-social{
        display: none;
    }
    .preview-image{
        display: none;
    }
    .smoke-cap::before{
        background: url(../img/shtr2.png);
        top: 90px;
        left: 0;
        height: 550px;
        min-height: 550px;
        max-height: 550px;
        width: 60px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .preview .btn-trialcourse{
        display: none;
    }
    
    .smoke-cap::after{
/*        display: none;*/
        
        background: url(../img/sht.png);
        top: 90px;
        right: 0;
        height: 550px;
        min-height: 550px;
        max-height: 550px;
        width: 103px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .btn-started{
        display: none;
    }
    
/*
    header .hh-nav{
        display: none;
    }
*/
/*
    .header-menu{
        display: none;
    }
*/
    ul.header-menu > li, ul.header-menu > a{
        width: 100%;
        position: relative;
    }
    ul.header-menu > li:hover, ul.drop-menu > li:hover{
/*        display: none;*/
        background: none;
        
        
    }
    ul.header-menu > li.active ul, ul.drop-menu > li.active ul {
        
        display: block;
        animation-duration: 2s;
        animation-name: slidein;
        transition: 2s;
/*        background: red;*/
    }
    ul > li > ul.drop-menu > li.active{
        position: relative;
        display: block;
        transition: 2s;
    }
    @keyframes slidein {
      from {
       opacity: 0;
          left: -200px;
      }
      to {
        opacity: 1;
          height: auto;
          top: 0px;
      }
    }
    
    
    
    ul.header-menu > li.active ul.drop-menu{
        display: block;
    }
    
    ul > li > ul.drop-menu li a{
        padding: 10px 5px;
    }

    ul > li > ul.drop-menu{
        padding: 5px 0px 0px 0px;
        position: inherit !important;
    }
    ul > li > ul.drop-menu:last-child{
        padding-bottom: 0px;
/*        margin-bottom: -20px;*/
    }
    
    .bef-icon.bef-icon-flag:before{
        display: none;
    }
    section.preview p.pretitle{
        margin: 0px !important;
    }
    
    section.preview h1{
        font-size: 33px;
        line-height: 46px;
    }
    section.preview .col-main{
        padding-top: 90px;
    }
    section.preview ul.advantages > li span, section.preview ul.advantages > li span b{
        font-size: 12px;
    }
    section.preview{
        min-height: 550px;
        height: 550px;
  
    }
    
    .heading{
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        font-size: 25px;
        line-height: 31px;
        margin: 0 auto;
        position: relative;
    }
    .heading::after{
        content: "";
        position: absolute;
        left: calc( 50% - 50px);
        right: 10px;
        top: 55px;
        background: #000;
        width: 100px;
        height: 1px;
    }
    
    .mob-first{
        order: -1;
    }
    .about-girl-container{
        margin: 0;
    }
    .about-girl{
        border-radius: 0px;
        width: calc( 100% + 40px);
        margin-left: -20px;
    }
    .about-girl-bg{
        display: none;
    }
    p.about-girl{
        display: none;
    }
    .desc{
        margin-top: 0px;
    }
    .desc h6{
        line-height: 30px;
        font-weight: 500;
        padding-top: 20px;
        height: auto;
    }
    .link{
        font-size: 13px;
    }
    section.discount::before{
        display: none;
    }
    .discount{
        margin-bottom: 0px;
        margin-top: 40px;
    }
    
    section.discount::before{
        display: none;
    }
    .width-600{
        width: 100%;
    }
    .discount .heading::after{
        display: none;
    }
    .discount .heading{
        padding: 0 20px;
        text-align: center;
    }
    .basic-p-cream{
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .btn-trialcourse{
        margin-left: calc( 50% - 85px);
    }
    section.discount .discount-images{
        display: none;
    }
    .courses .wrapper{
        padding: 0;
    }
    .courses .heading::after{
        display: none;
    }
    .course-img{
        width: 100%;
    }
    .course .course-text{
        padding: 20px !important;
        margin: 0 20px;
    }
    .course{
        background: #fff;
    }
    
    .course .col-md-6{
        padding: 0 1rem;
    }
    .course a.open-ul{
        color: #000;
        display: block;
    }
    .courses .btn-gd-desc{
        display: none;
    }
    .courses .btn.btn-course{
        margin-left: calc(50% - 40px);
    }
    .courses .btn-group-desc{
        margin-top: 20px;
    }
    .img-work{
        padding: 0;
    }
    .work .wrapper{
        padding: 0;
    }
    .product-slide-nav, .product-slide-nav.center{
        margin: 0;
    }
    .product-slide-nav img{
        border-radius: 0;
    }
    .work{
        margin-top: 0;
    }
    .work .heading{
        text-align: center;
    }
    .work .heading::after{
        top: 50px;
    }
    .work .basic-p{
        margin-top: 40px !important;
        margin: 0 20px;
        text-align: center;
    }
    .work .slick-nav-btns{
        display: none;
    }
    .btn-last{
        display: none;
    }
    .faq .heading{
        font-size: 25px;
    }
    .img-faq-mob{
        margin-left: -20px;
        margin-bottom: 0;
        width: calc(100% + 40px);
    }
    .img-faq{
        display: none;
    }
    .img-faq-mob{
        display: block;
    }
    .popup{
        width: 90%;
        left: 5%;
        top: 50px;
    }
    .popup .heading{
        margin-top: 0px !important;
        text-align: center;
        font-size: 24px;
    }
    
    .popup .heading::after{
        top: 77px;
    }
    
    .reviews{
        padding-top: 50px;
    }
    .reviews .heading::after{
        display: none;
    } 
    .reviews .course-title{
        margin-top: 6px;
        text-align: center;
    }
    .p{
        text-align: center;
    }
    .line-top{
    border-top: 1px solid #333333;
    }
    .reviews .slick-nav-btns{
        text-align: center;
    }
    .reviews .btn-dusky{
        margin-bottom: 25px;
    }
}

@media (min-width: 576px) {
}

/* md-устройства */
@media (min-width: 768px) {
}

/* lg-устройства */
@media (min-width: 992px) {
}

/* xl-устройства */
@media (min-width: 1200px) {
}

/* max < x */
@media (max-width: 575px) {
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (max-width: 1199px) {
}


@media (max-width:575px) {
}
@media (min-width:576px) and (max-width:767px) {
    .mob-first{
        order: -1;
    }
    .mob-hide{
        display: none;
    }
    section.about::after, section.about::before{
        display: none;
    }
    section.about::after, section.about::before{
        display: none;
    }
    /* .advantages{
        width: 50%;
    } */
    
    .wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .mob-hide{
        display: none;
    }
    
    .preview .btn-trialcourse{
        display: none;
    }
    .btn-started{
        display: none;
    }
    section.preview h1{
        font-size: 33px;
        line-height: 46px;
    }
    .about-girl-container{
        margin: 0px;
        margin-left: calc(50% - 220px) !important;
    }
    .about-girl-bg{
        display: none;
    }
    .about-girl{
        text-align: left;
    }
    section.preview .col-main{
        padding-top: 90px;
    }
     .heading{
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        font-size: 25px;
        line-height: 31px;
        margin: 0 auto;
        position: relative;
    }
    .heading::after{
        content: "";
        position: absolute;
        left: calc( 50% - 50px);
        right: 10px;
        top: 55px;
        background: #000;
        width: 100px;
        height: 1px;
    }
    .desc{
        margin-top: 0px;
    }
    .desc h6{
        line-height: 30px;
        font-weight: 500;
        padding-top: 20px;
        height: auto;
    }
    .link{
        font-size: 13px;
    }
    section.discount::before{
        display: none;
    }
    .discount{
        margin-bottom: 0px;
        margin-top: 40px;
    }
    
    section.discount::before{
        display: none;
    }
    .width-600{
        width: 100%;
    }
    .discount .heading::after{
        display: none;
    }
    .discount .heading{
        padding: 0 20px;
        text-align: center;
    }
     .basic-p-cream{
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .btn-trialcourse{
        margin-left: calc( 50% - 85px);
    }
    section.discount .discount-images{
        display: none;
    }
    .courses .wrapper{
        padding: 0;
    }
    .course-img{
        width: 100%;
    }
    .course .course-text{
        padding: 20px !important;
        margin: 0 20px;
    }
    .course{
        background: #fff;
    }
    
    .course .col-md-6{
        padding: 0 1rem;
    }
    .course a.open-ul{
        color: #000;
        display: block;
    }
    .courses .btn-gd-desc{
        display: none;
    }
    .courses .btn-group-desc{
        margin-top: 20px;
    }
    .work{
        margin-top: 0;
    }
    .work .heading{
        text-align: center;
    }
    .work .heading::after{
        top: 50px;
    }
    .work .basic-p{
        margin-top: 40px !important;
        margin: 0 20px;
        text-align: center;
    }
    .work .slick-nav-btns{
        display: none;
    }
    .btn-last{
        display: none;
    }
    .faq .heading{
        font-size: 25px;
    }
    .img-faq-mob{
        margin-left: -20px;
        margin-bottom: 0;
        width: calc(100% + 40px);
    }
    .img-faq{
        display: none;
    }
    .img-faq-mob{
        display: block;
    }
    
    
}
@media (min-width:768px) and (max-width:991px) {
    .mob-first{
        order: -1;
    }
    .mob-hide{
        display: none;
    }
     .preview .btn-trialcourse{
        display: none;
    }
    .btn-started{
        display: none;
    }
    section.preview h1{
        font-size: 33px;
        line-height: 46px;
    }
    .about-girl-container{
        margin: 0px;
        margin-left: calc(50% - 220px) !important;
    }
    .about-girl-bg{
        display: none;
    }
    .about-girl{
        text-align: left;
    }
    section.preview .col-main{
        padding-top: 90px;
    }
    
    .discount{
        margin-bottom: 0px;
        margin-top: 40px;
    }
    section.discount .discount-images{
        display: none;
    }
    
    section.discount::before{
        display: none;
    }
    .width-600{
        width: 100%;
    }
    .discount .heading::after{
        display: none;
    }
    .discount .heading{
        padding: 0 20px;
        text-align: center;
    }
     .basic-p-cream{
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .btn-trialcourse{
        margin-left: calc( 50% - 85px);
    }
    .courses .btn-gd-desc{
        display: none;
    }
    .btn-last{
        display: none;
    }
    
    
}
@media (min-width:992px) and (max-width:1219px) {
    .course-text{
    padding: 20px 30px !important;
    position: relative;
}
}



@media (max-width: 1200px) {

    .menu-navs a {
        font-size: 12px;
    }
    .menu-contacts__number {
        font-size: 20px;
    }
    .menu-contacts {
        width: 15%;
    }
    .menu-navs ul li{
        padding: 20px 15px;
    }
    section.about::before{
        display: none;
    }
    section.about::after{
        display: none;
    }
}
@media (max-width: 768px) {
    .curses-item__wrapper{
        display: block;
    }
    .curses-item__wrapper .curses-item {
        display: block;
        width: 100%;
        margin: 15px 5px;
    }
    .reviews .mobile-order1{
        order: 1;
    }
    .reviews .mobile-order2{
        padding-bottom: 100px;
    }
    .reviews{

    }
    .mobile-order2{
        order: 2;
    }
    .reviews .mobile-order1 {
        order: 1;
        padding-bottom: 100px;
    }
    .swiper-rewiews_navigations{
        bottom: 0;
    }
    .banner{
        display: none;
    }
    .footer-top__wrap{
        flex-wrap: wrap;
    }
    .footer-top__wrap-item{
        width: 40%;
    }
}

@media(max-width:576px){
    .advantages-wrapper{
        flex-wrap: wrap;
        /* width: 100%; */
        justify-content: center;
    }
    .advantages-wrapper__item {
        width: 45%;
    }

    .marathones-program h2{
        text-align: center;
        margin: auto;
    }
    .marathones-program__days{
        display: block;
        text-align: center;
    }
    .marathones-program__days-teacher, .marathones-program__days-text, .marathones-program__days-count{
        width: 100%;
        display: block;
    }
    .curses-item {
        padding: 40px 0 30px;
    }
    .curses-item h3{
        font-size: 22px;
        margin: 5px;
    }
    .curses-item span{
        font-size: 18px;
    }
    .curses-item p{
        font-size: 14px;
    }
    .con-tooltip__item{
        display: none;
    }
    .backcall{
        left: 30%;
    }
    .modal-content{
        width: 80%;
    }
    .allcurses h1 {
        font-size: 20px;
    }
}

@media(max-width:576px){
    .advantages-wrapper__item {
        width: 95%;
    }
    .about-page__top-text {
        padding-top: 50px;
    }
}